$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html,
body,
[ng-view],
.container {
  min-height: 100%;
  height: 100%;
}

body,
.container {
  margin: 0;
  padding: 0;
}

.container
{
  width: 100%;
}

.container > .row {
  height: 100%;
  width: 100%;
  margin: 0;
}

.input,
.preview {
  height: 100%;
}

.input {
  background-color: #2ecc71;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.input-headline-container
{
  width: 100%;
  padding: 20px;
  text-align: center;
}

.input-headline {
  font-weight: 500;
  font-size: 1.5em;
}

.preview {
  background: #fff;
  padding: 25px;
}

.template-body
{
  height: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

@import "quote";
