<div
  id="lol"
  class="template-body quote-template-body"
  style="background-image: url('{{ main.poster.artistImageUrl }}')">
  <div class="quote-tint" style="background: {{main.poster.bgTint}};">
    <div class="quote-border" style="{{main.poster.showBorder ? 'border: 3px solid #fff;' : ''}}">
      <div class="quote-content">
        <h1 class="quote-content-quote" style="font-size: {{main.poster.fontSize}}em">
          "{{ main.poster.lyrics[main.poster.quoteIndex] }}"
        </h1>
        <h2 class="quote-content-name" ng-if="main.poster.showArtist || main.poster.showTitle">
          <span class="quote-content-name-borders">
            {{ main.poster.showArtist ? main.poster.artist : '' }}
            <span class="quote-diamond" ng-if="main.poster.showArtist && main.poster.showTitle">
              &diams;
            </span>
            <em ng-if="main.poster.showTitle">
              {{ main.poster.track }}
            </em>
          </span>
        </h2>
    </div>
  </div>
</div>
