<div class="container" ng-controller="MainCtrl as main">
  <div class="row">
    <div class="col-md-4 controls">
      <header class="walkthrough row">
        <div
          class="col-xs-4 walkthrough-btn walkthrough-btn-active"
          ng-click="main.step = main.STEP_CREATE"
          ng-class="{'walkthrough-btn-active': main.step === main.STEP_CREATE}">
          <span><i class="fa fa-music fa-3x"></i></span>
          
          <p id="iconText">Pick song</p>
        </div>
        <div
          class="col-xs-4 walkthrough-btn"
          ng-click="main.step = main.STEP_CUSTOMIZE"
          ng-class="{'walkthrough-btn-active': main.step === main.STEP_CUSTOMIZE}">
          <span><i class="fa fa-pencil fa-3x"></i></span>
          <p id="iconText">Customize</p>
        </div>
        <div
          class="col-xs-4 walkthrough-btn"
          ng-click="main.step = main.STEP_SAVE"
          ng-class="{'walkthrough-btn-active': main.step === main.STEP_SAVE}">
          <span><i class="fa fa-pencil fa-3x"></i></span>
          <p id="iconText">Save & Share</p>
        </div>
      </header>
      <div ng-switch="main.step">
        <div ng-switch-when="0">
          <h1 class="controls-headline">Generate your card</h1>
          <form ng-submit="main.getInfo(main.trackId)">
            <div class="input-group">
              <input
                class="form-control controls-input"
                type="text"
                ng-model="main.trackId"
                placeholder="Paste a Spotify URL" />
              <span class="input-group-btn">
                <button class="btn btn-default controls-submit" type="submit">
                  Create
                </button>
              </span>
            </div>
          </form>
          <h2 class="controls-subline">...or try some popular songs</h2>
          <ul class="controls-favourites">
            <li
              class="controls-favourite"
              ng-click="main.getInfo('3SjXx3rbNGk8nCho8YEoz5', 6)">
              Håkan Hellström – Det kommer aldrig va över för mig
            </li>
            <li
              class="controls-favourite"
              ng-click="main.getInfo('5T8EDUDqKcs6OSOwEsfqG7', 9)">
              Queen – Don't Stop Me Now
            </li>
            <li
              class="controls-favourite"
              ng-click="main.getInfo('5ifJBfmaH05XbEiwWSQLNj', 1)">
              N.W.A. – Straight Outta Compton
            </li>
            <li
              class="controls-favourite"
              ng-click="main.getInfo('1tjHKKI0r82IB5KL29whHs', 6)">
              Muse – Panic Station
            </li>
            <li
              class="controls-favourite"
              ng-click="main.getInfo('69kOkLUCkxIZYexIgSG8rq', 1)">
              Daft Punk – Get Lucky
            </li>
          </ul>
        </div>
        <div ng-switch-when="1">
          <h1 class="controls-headline">Customize your card</h1>
          <br>
          Lyrics size
          
          <label for="lyric-slider"></label>
            <input
              id= "sliderS"
              name="lyric-slider"
              type="range"
              ng-model="main.poster.fontSize"
              min="2"
              max="6"/>
          <br>

          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="main.poster.showArtist"> Show artist name
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="main.poster.showTitle"> Show song title
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="main.poster.showBorder"> Show border
            </label>
          </div>
          <button class="btn btn-default" colorpicker="rgba" colorpicker-position="bottom" type="button" colorpicker-position="top" ng-model="main.poster.bgTint">
              Change color & opacity
          </button>
        </div>
        <div ng-switch-when="2">
          <h1 class="controls-headline">Save and share your card</h1>
        </div>
      </div>
      <div class="quote-controls" ng-if="main.poster.lyrics.length > 1">
        <button
          class="controls-btn"
          ng-click="main.quotePrev()">
          <i class="fa fa-angle-left"></i> Previous line
        </button>
        <button
          class="controls-btn"
          ng-click="main.quoteNext()">
          Next line <i class="fa fa-angle-right"></i>
        </button>
        <button
          class="controls-btn"
          ng-click="main.changeImage()">
          <i class="fa fa-refresh"></i> Change image
        </button>
      </div>
    </div>
    <div class="col-md-8 preview">
      <ng-include src="'views/templates/quote.html'" class="template-quote"></ng-include>
    </div>
  </div>
  <div class="loader" ng-if="main.isLoading">
    <div class="loader-spinner">
      <div></div>
    </div>
  </div>
</div>
